@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #333333;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  max-width: 100%;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: bisque; */
}

.logo {
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.links a:link, .links a:visited {
  text-decoration: none !important;
  color: #14213D;
  transition: color 0.6s;
  margin: 20px;
}

.links a:hover {
  transition: color 0.2s;
  color:#FCA311;
}

.navbar ul,
.left-side-navbar-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.navbar li,
.left-side-navbar-links li  {
  display: flex;
  flex-direction: row;
}

.get-started {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  background-color: #FCA311;
  width: 159px;
  height: 40px;
  border: none;
  border-radius: 36px;
}

.get-started a:link {
  color: #fff;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  /* background-color: cadetblue; */
}

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slogan {
  flex: 1;
  flex-direction:column;
  justify-content:left;
  line-height: 50px;
  margin-top: 80px;
}

.splash-dashboard{
  flex: 1;
  margin-top: 80px;
  overflow: visible;
}

.slogan .get-started {
  margin-top: 20px;
}

h1 {
  color: #14213D;
  font-size: 3em;
  padding-bottom: 10px;
}

.alt-color {
  color: #FCA311;
}

.slogan-paragraph-text{
  font-size: 1.4em;
  padding-left: 3px;
  padding-bottom: 15px;
}

.left-side-navbar{
  display: flex;
  align-items: center;
}

.links li:hover{
  color:#FCA311;
}

.header-search-button{
  display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.header-search-button-wrapper{
  flex-grow: 0.6;
}

@media only screen and (max-width: 1500px){
  .landing-page{
    flex-direction: column;
  }
  .slogan{
    justify-content:center;
    text-align: center;
  }

  .header-search-button{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
}
