@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #14213D;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1400px;
  max-width: 100%;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: bisque; */
}

.logo {
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.links a, .links a:visited {
  text-decoration: none !important;
  color: #14213D;
  transition: color 0.6s;
  margin: 20px;
  cursor: pointer;
}

.links a:hover {
  transition: color 0.2s;
  color:#FCA311;
}

.navbar ul,
.left-side-navbar-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.navbar li,
.left-side-navbar-links li  {
  display: flex;
  flex-direction: row;
}

.get-started {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  background-color: #FCA311;
  width: 159px;
  height: 40px;
  border: none;
  border-radius: 36px;
}

.get-started a:link {
  color: #fff;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  /* background-color: cadetblue; */
}

.landing-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.slogan {
  flex: 1;
  flex-direction:column;
  justify-content:left;
  line-height: 50px;
  margin-top: 80px;
}

.splash-dashboard{
  flex: 1;
  margin-top: 80px;
  overflow: visible;
}

.slogan .get-started {
  margin-top: 20px;
}

h1 {
  color: #14213D;
  font-size: 3em;
  padding-bottom: 10px;
}

.alt-color {
  color: #FCA311;
}

.slogan-paragraph-text{
  font-size: 1.4em;
  padding-left: 3px;
  padding-bottom: 15px;
}

.left-side-navbar{
  display: flex;
  align-items: center;
}

.links li:hover{
  color:#FCA311;
}

.header-search-button{
  display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.header-search-button-wrapper{
  flex-grow: 0.6;
}

@media only screen and (max-width: 1500px){
  .landing-page{
    flex-direction: column;
  }
  .slogan{
    justify-content:center;
    text-align: center;
  }

  .header-search-button{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
}

#menu a
{
    text-decoration: none !important;
  color: #14213D;
  transition: color 0.6s;
  margin: 20px;
}

#menu a:hover
{
  transition: color 0.2s;
  color:#FCA311;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  margin-left: 15px;
  transform: translateX(-20px);
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #14213D;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu li {
  display: inline;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #FCA311;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 600px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 68px;
  right: -100px;
  text-align: right;
    margin-right: 80px;
  
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#docs-link{
  margin-right: 20px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}

@media screen and (max-width: 500px) {
  #menu a
{
    text-decoration: none !important;
  color: #14213D;
  transition: color 0.6s;
  margin: 10px;
}

#docs-link{
  margin-right: 20px;
}
}