.results-dash-container{
    width: 100%;
    margin-top: 80px;
    color: #14213D;
}

.results-dash-title{
    margin-bottom: 10px;
}


.results-dash-title span{
    color: #FCA311;
}

.results-dash-title-line{
    border: 1px solid #14213D;
    margin-bottom: 25px;
}

.table-header-container{
display: grid;
grid-template-columns: 4.5fr 6fr 1.2fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
font-weight: bold;
}

.dash-result-confidence{
    text-align: center;
}

.keyword-result-component:hover{
    transform: scale(1.1);
}

.results-searchbar-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
}

.results-searchbar-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}

.results-searchbar-wrapper h1{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}

.results-dash-title-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 a{
    text-decoration: none;
    transition: all 0.2s;
}

h3 a:hover{
    color: #FCA311;
    transition: all 0.2s;
}