.keyword-search {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.keyword-search-box {
  margin-top: 79px;
  margin-left: 26px;
  padding-left: 60px;
  text-align: left;
  width: 519px;
  height: 407px;
  background: #FFFFFF;
  box-shadow: 3.7px 29.6px 89px rgba(160, 160, 160, 0.15);
  border-radius: 40px;
}

.keyword-search-box h1 {
  padding-top: 38px;
  padding-bottom: 21px;
}

.keyword-search-box p {
  line-height: 31px;
}


.keyword-search-box li {
    background: url(../../../assets/bullet-points.png) no-repeat 7px 7px transparent;
    list-style-type: none;
    margin-left: -10px;
    padding: 11px 0px 13px 50px;
    font-weight: 600;
}

.keyword-search-box ul {
  margin-top: 15px;
}
