

.loader-component-container{
display: flex;
  flex-direction: column;
  width: 1400px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.loader-container {
  position: absolute;
  top: 33%;
  left: 50.5%;
  margin-left: -20px;
  animation: float 3s ease-in-out infinite;

}

.loader-animation-text{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.loader-container::before {
  background: #000000;
  border-radius: 100%;
  color: #fff;
  font-size: 1.3em;
  content:"";
  position: absolute;
  margin-top: -5px;
  margin-left: -2px;
  width: 25px;
  height: 25px;
}

.left {
  position: absolute;
}

.right {
  position: absolute;
  transform: rotateY(180deg);
}

.first,
.second,
.third,
.fourth {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 25px;
  height: 3px;
}

.first > .first,
.second > .second,
.third > .third,
.fourth > .fourth {
  transform-origin: 25px top;
  transform: rotate(-80deg) translateX(25px);
  animation: begin 2.5s ease infinite;
}

.first > .first > .first,
.second > .second > .second,
.third > .third > .third,
.fourth > .fourth > .fourth {
  transform-origin: 25px top;
  transform: rotate(10deg) translateX(25px);
  animation: begin 1.5s ease infinite;
}

.right > .second > .second {
  animation-delay: 200ms;
}

.second > .second {
  animation-delay: 400ms;
}

.second > .second > .second {
  animation-delay: 200ms;
}

.right >.third > .third {
  animation-delay: 400ms;
}

.third > .third {
  animation-delay: 600ms;
}

.third > .third > .third {
  animation-delay: 300ms;
}

.right > .fourth > .fourth {
  animation-delay: 100ms;
}

.fourth > .fourth {
  animation-delay: 800ms;
}

.fourth > .fourth > .fourth {
  animation-delay: 400ms;
}

@keyframes begin {
  50% {
    transform: rotate(55deg) translateX(25px);
  }
}

@keyframes start {
  100% {
    top: 50%;
  }
}