.footer-outer-container{
    margin-top: 207px;
    margin-bottom: 250px;
    max-width: 1042px;
    background-image: url("../../assets/footer-bottom-right.svg"), url("../../assets/footer-top-left.svg");
    background-position: right bottom, left top;
    background-size: 195px 195px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.footer-container{
    margin: 75px;
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: #F5F6FA;
    box-shadow: 1px 8px 24px rgba(160, 160, 160, 0.15);
    border-radius: 40px;
    padding: 80px 70px 80px 70px;
}

.footer-container h1{
    font-size: 60px;
}

.footer-container h2{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}

.footer-container h3{
    margin-top: 45px;
    font-size: 25px;
}

.footer-search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
}

.footer-search-button-wrapper{
    flex-grow: 0.4;
}

@media screen and (min-width: 40em) { 
    .footer-container {
        padding: 80px 20px 80px 20px;
    }
}

@media screen and (max-width: 650px) { 
    .footer-search-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
}
}


