
.custom-search {
  position: relative;
  margin-top: 15px;
    display:flex;
  flex-direction:row;
  border: 1px solid #FFFFFF;
  background-color: white;
    box-shadow: 0px -1px 35px -4px rgba(252,163,17,0.75);
-webkit-box-shadow: 0px -1px 35px -4px rgba(252,163,17,0.75);
-moz-box-shadow: 0px -1px 35px -4px rgba(252,163,17,0.75);
  border-radius: 100px;
  padding: 10px 20px 10px 20px; 
}
.custom-search-input {
    flex-grow:2;
  border: none;

  line-height: 2.5;
  box-sizing: border-box;
  outline: none;

}

.custom-search-botton {
    border: 0;
    background: #FCA311;
    color: #fff;
    outline: none;
    margin: 0;
    border-radius: 100px;
    z-index: 2;
    width: 30%;
    transition: background 0.3s;
}

.custom-search-botton:hover{
    cursor: pointer;
    background: #d4890f;
    transition: background 0.3s;
}

.search-bar-gear {
    position: absolute;
    top: 15px;
    left: 17px;
}

form input[type=text] {
    padding-left: 55px;
    font-size: 16px;
  }


.custom-search-botton-text{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #fff;
}