.features {
  margin-top: 207px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap;
  align-items: center; */
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon:hover {
  background-color: #F0F1F7;
  transform: scale(1.1);
}

.icon-block {
  display: block;
}


/* .item:hover {
  background-color: #F0F1F7;
  transform: scale(1.3);
} */

/* .text{
  padding-top:10px;
  display: inline-flex;
  vertical-align: middle;
} */